<div>
    <span class="status" [class.checked-in]="detail.checkedIn"></span>
    <div *ngIf="editing">
        <input #name type="text" [value]="detail.fullname" (input)="onNameChange(name.value)">
    </div>
    <div *ngIf="!editing">
        {{ detail.fullname }}
    </div>
    <div class="date">
        Check in Date: 
        {{ detail.checkInDate ? (detail.checkInDate | date: 'dd/MM/yyyy') : 'Not checked in' }}
    </div>
    <div class="children">
        Children: {{ detail.children?.length || 0 }}
    </div>
    <button (click)="goToPassenger()">
        View
    </button>
    <button (click)="toggleEdit()">
        {{ editing ? 'Save' : 'Edit' }}
    </button>
    <button (click)="onRemove()">
        Remove
    </button>
</div>
<br>
