<form #form="ngForm" novalidate>
    <h3>Passenger Details</h3>
    <br>
    {{ detail | json }}
    <br><br>
    <div>
        Passenger Id:
        <input type="number" name="id" #id="ngModel"
            [ngModel]="detail?.id" required>
        <div *ngIf="id.errors?.required && id.touched" class="error">
            Passenger Id is Required
        </div>
    </div>
    <br>
    <div>
        Passenger Name:
        <input type="text" name="fullname" #fullname="ngModel"
            [ngModel]="detail?.fullname" required>
        <div *ngIf="fullname.errors?.required && fullname.dirty" class="error">
            Passenger Name is Required
        </div>
    </div>
    <br>
    <div>
        Checked In: 
        <label>
            <input type="checkbox" name="checkedIn" 
                [ngModel]="detail?.checkedIn"
                (ngModelChange)="toggleCheckIn($event)">
        </label>
    </div>
    <br>
    <div *ngIf="form.value.checkedIn">
        Check in Date:
        <input type="number" name="checkInDate" [ngModel]="detail?.checkInDate">
    </div>
    <br>
    <div>
        Luggage:
        <select name="baggage"
            [ngModel]="detail?.baggage">
            <option *ngFor="let item of baggage"
                [ngValue]="item.key">
                {{ item.value }}
            </option>
        </select>
    </div>
    <br>
    <button type="submit" [disabled]="form.invalid">Update Passenger</button>
    <br><br>
    <div>{{ form.value | json }}</div>
    <br>
    <div>Valid: {{ form.valid | json }}</div>
    <br>
    <div>Invalid: {{ form.invalid | json }}</div>
</form>
