<div>
    <passenger-count [items]="passengers"></passenger-count>
    <br>
    <passenger-detail></passenger-detail>
    <br>
    <ul>
        <li *ngFor="let passenger of passengers; let i = index;">
            <span 
                class="status"
                [class.checked-in]="passenger.checkedIn"
            ></span>
            {{ i }}: {{ passenger.fullname }}
            <p>{{ passenger | json }}</p>
            <div class="date">
                Check in Date: 
                {{ passenger.checkInDate ? (passenger.checkInDate | date: 'dd/MM/yyyy') : 'Not checked in' }}
            </div>
            <div class="children">
                Children: {{ passenger.children?.length || 0 }}
            </div>
        </li>
    </ul>
</div>
